.modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .modal-background */
  z-index: 1000;

  .modal-body {
    padding: 20px;
    background: #fff;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    width: 30%;
    height: 83%;
    border-radius: .4rem;
    overflow-y: scroll;
  }
}

.disable-pointer-events {
  pointer-events: none;
  //-webkit-user-drag: none;
}

.enable-pointer-events {
  pointer-events: all;
}

.modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //pointer-events: all;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  z-index: 900;
}

.scrollable-y {
  overflow-y: scroll;
  height: 75%;
  margin: 20px;
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
  pointer-events: none;
}

.button-box {

  margin-top: 15px;
  margin-left: 75px;

  button {
    margin: 10px;
  }

  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .18rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.config-header {
  font-size: 25px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.config-key {
  font-size: 12px;
  color: brown;
  padding: 15px;
}

.select-generic {
  position: relative;
  margin-top: 18px;
  left: 30px;
  color: black;
  font-weight: bold;
  font-family: "Times New Roman";
  padding-left: 5px;
  align-content: center;
  text-align: center;
}

.input-generic {
  position: relative;
  padding-top: 5px;
  margin-top: 15px;
  left: 30px;
  color: black;
  font-weight: bold;
  font-family: "Times New Roman";
  padding-left: 5px;
}

body.modal-panel-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}